<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)" />

  <arg name="color_topic" default="/camera/color/image_raw" />
  <arg name="depth_topic" default="/camera/aligned_depth_to_color/image_raw" />
  <arg name="info_topic"  default="/camera/color/camera_info" />
  <arg name="frame_id"    default="camera_aligned_depth_to_color_frame" />
  <arg name="pointcloud_out" default="/$(arg UAV_NAME)/rgbd_front_pitched/aligned_depth_to_color/points" />
  <arg name="flatten_distance" default="6.0" />
  <arg name="minimum_distance" default="0.0" />
  <arg name="invalid_is_far" default="false" />
  <arg name="downsample_step" default="4" />

  <group ns="$(arg UAV_NAME)">
    <node name="sensor_model" pkg="motion_planning" type="cam_to_ptcld.py" output="screen">
      <param name="model_type" value="ground_truth"/>
      <param name="color_topic" value="$(arg color_topic)" />
      <param name="depth_topic" value="$(arg depth_topic)" />
      <param name="info_topic"  value="$(arg info_topic)" />
      <param name="frame_id"  value="$(arg frame_id)" />
      <param name="pointcloud_out" value="$(arg pointcloud_out)" />
      <param name="flatten_distance" value="$(arg flatten_distance)" />
      <param name="minimum_distance" value="$(arg minimum_distance)" />
      <param name="invalid_is_far" value="$(arg invalid_is_far)" />
      <param name="downsample_step" value="$(arg downsample_step)" />
    </node>
  </group>
</launch>
