<launch>
  <!-- Environment and Parameter Overrides -->
  <arg name="env" default="$(optenv PLANNER_ENV)" />
  <arg name="overrides" default="$(optenv PLANNER_OVERRIDES)" />

  <!-- Map -->
  <arg name="voxel_size" default="$(optenv VOXEL_SIZE 0.2)" />
  <arg name="voxels_per_side" default="$(optenv VOXELS_PER_SIDE 16)" />

  <!-- UAV -->
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)" />
  <arg name="world_frame" default="$(arg UAV_NAME)/world_origin" />

  <group ns="$(arg UAV_NAME)">
    <node pkg="cache_nodes" type="cached" name="cache_nodes" output="screen">
      <!-- Configuration -->
      <rosparam file="$(find gain_evaluation)/config/GainConfig.yaml" />
      <rosparam file="$(find cache_nodes)/config/config.yaml" />
      <rosparam file="$(arg overrides)" if="$(eval arg('overrides') != '')" />
      <param name="environment" value="$(arg env)" if="$(eval arg('env') != '')" />
      <param name="uav_namespace" value="$(arg UAV_NAME)" />

      <!-- Voxblox -->
      <remap from="~esdf_map_in" to="voxblox_node/esdf_map_out" />
      <remap from="~tsdf_map_in" to="voxblox_node/tsdf_map_out" />
      <param name="use_tf_transforms" value="false" />
      <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side" value="$(arg voxels_per_side)" />
      <param name="update_mesh_every_n_sec" value="0.0" />
      <param name="publish_traversable" value="false" />
      <param name="publish_pointclouds" value="false" />
      <param name="world_frame" value="$(arg world_frame)" />

      <!-- Subscribers -->
      <remap from="~tree_node_in" to="tree_node" />
      <remap from="~uav_state_in" to="estimation_manager/uav_state" />

      <!-- Service Servers -->
      <remap from="~best_node_in" to="~best_node" />
    </node>
  </group>
</launch>
