<launch>
    <param name="use_sim_time" value="true"/>

    <!-- Play the rosbag -->
    <node name="rosbag_play" pkg="rosbag" type="play" args="-r 4 /mnt/c/Users/joaof/data/tmp_bags/tmp_bag_2024-08-05-19-01-52.bag" />

    <!-- Run the path processing node for UAV 1 -->
    <node name="path_publisher_uav1" pkg="motion_planning_python" type="eval_paths.py" output="screen">
        <param name="uav_ns" value="uav1"/>
    </node>

    <!-- Run the path processing node for UAV 2 -->
    <node name="path_publisher_uav2" pkg="motion_planning_python" type="eval_paths.py" output="screen">
        <param name="uav_ns" value="uav2"/>
    </node>

    <!-- Run the path processing node for UAV 3 -->
    <node name="path_publisher_uav3" pkg="motion_planning_python" type="eval_paths.py" output="screen">
        <param name="uav_ns" value="uav3"/>
    </node>

    <!-- RViz node -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motion_planning_python)/config/rviz/eval_config_multi.rviz" />
</launch>
