<launch>
    <param name="use_sim_time" value="true"/>

    <!-- Play the rosbag -->
    <node name="rosbag_play" pkg="rosbag" type="play" args=" -r 20 -u 1800 /uav1/reference_out:=/uav1/reference_out /mnt/c/Users/joaof/Documents/data/school/one_drone/RH-NBVP/tmp_bags/tmp_bag_2024-07-11-17-52-12.bag" />
    <!--node name="rosbag_play" pkg="rosbag" type="play" args=" -r 20 -u 1800 /uav1/reference_out:=/uav2/reference_out /mnt/c/Users/joaof/Documents/data/school/one_drone/AEP/tmp_bags/tmp_bag_2024-09-03-09-20-08.bag" /-->
    <!--node name="rosbag_play" pkg="rosbag" type="play" args=" -r 20 -u 1800 /uav1/estimation_manager/uav_state:=/uav3/estimation_manager/uav_state /mnt/c/Users/joaof/Documents/data/school/one_drone/KinodynamicRH-NBVP/tmp_bags/tmp_bag_2024-09-02-18-44-49.bag" /-->
    <!--node name="rosbag_play" pkg="rosbag" type="play" args=" -r 20 -u 1800 /uav1/estimation_manager/uav_state:=/uav4/estimation_manager/uav_state /mnt/c/Users/joaof/Documents/data/school/one_drone/KinodynamicAEP/tmp_bags/tmp_bag_2024-09-11-12-17-01.bag" /-->

    <!-- Run the path processing node -->
    <node name="path_publisher" pkg="motion_planning_python" type="eval_paths.py" output="screen"/>

    <!-- RViz node -->
    <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find motion_planning_python)/config/rviz/eval_config.rviz" /-->
</launch>
